@import "tailwindcss";

/* Flowbite plugin + sources */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* (optional) apne source folders bhi explicitly add kar sakte ho */
@source "./app";
@source "./components";
/* agar aapka app src/ ke andar hai to path adjust karein:
   ../../node_modules/flowbite  (one more ../) */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

